<main>
    <div *ngIf="isLoading" class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search blogs..." [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" />
        <span class="clear-icon" *ngIf="searchQuery" (click)="clearSearch()" title="Clear">
            ✕
        </span>
        <button class="primary-btn" (click)="onSearch()">Search</button>
    </div>




    <div class="blog-container" *ngIf="!isLoading && blogList.length > 0">
        <div class="blog-card" *ngFor="let blog of blogList">
            <img [src]="blog.image" alt="Blog Image" />
            <div class="card-body">
                <span class="tag">{{ blog.tag }}</span>
                <h3 class="title">{{ blog.title }}</h3>
                <div class="topics">
                    <span class="topic" *ngFor="let topic of blog.topics">{{ topic }}</span>
                </div>
                <button [routerLink]="['/blog-post', blog.blogPostId]" class="primary-btn">Read more</button>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="!isLoading && totalCount > limit">
        <button class="pagination-btn" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
            Prev
        </button>

        <button class="primary-btn">
            {{ currentPage }}
        </button>


        <button class="pagination-btn " (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
            Next
        </button>
    </div>

</main>