.not-found-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;

    h1 {
        font-size: 100px;
        margin: 0;
        color: #f78c1c;
    }

    p {
        font-size: 20px;
        color: #888;
        margin: 20px 0;
    }

    .btn {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 20px;
        background: transparent;
        cursor: pointer;
        font-weight: 600;
    }

    .btn-primary {
        background: linear-gradient(to right, #f7c04a, #f78c1c);
        color: white;
    }
}