<div class="my-blogs-container">

    <div class="top-bar">
        <h2>My Blogs</h2>
        <button class="add-blog-btn" (click)="addBlog()">Add New Blog</button>
    </div>

    <div *ngIf="isLoading" class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div *ngIf="!isLoading && userblogsList.length === 0" class="no-blogs-message">
        <p>Looks like your blog is empty. Go ahead and add your first post!</p>
        <button routerLink="/" class="add-blog-btn">← Back to Home</button>
    </div>
    <div class="blog-container" *ngIf="!isLoading && userblogsList.length > 0">
        <div class="blog-card" *ngFor="let blog of userblogsList">
            <img [src]="blog.image" alt="Blog Image" />
            <div class="card-body">
                <span class="tag">{{ blog.tag }}</span>
                <h3 class="title">{{ blog.title }}</h3>
                <div class="topics">
                    <span class="topic" *ngFor="let topic of blog.topics">{{ topic }}</span>
                </div>
                <button [routerLink]="['/blog-post', blog.blogPostId]" class="read-more">Read more</button>


                <div class="card-actions">
                    <button class="edit-btn" (click)="editBlog(blog)">Edit</button>
                    <button class="delete-btn" (click)="deleteBlog(blog.blogPostId)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="!isLoading && totalCount > limit">
        <button class="pagination-btn " (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
            Prev
        </button>

        <button class="pagination-btn " *ngFor="let page of pages" (click)="onPageChange(page)"
            [class.active]="currentPage === page">
            {{ page }}
        </button>

        <button class="pagination-btn " (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
            Next
        </button>
    </div>

    <div class="modal" [class.show]="showModal">
        <div class="modal-content">
            <h3>{{ selectedBlog ? 'Edit Blog' : 'Add Blog' }}</h3>
            <form class="model-form" (ngSubmit)="handleSubmit()" #blogForm="ngForm">
                <label>Title</label>
                <input type="text" placeholder="Title" [(ngModel)]="form.title" name="title" required />
                <div class="error" *ngIf="formErrors.title">Title is required</div>

                <label>Tag</label>
                <input type="text" placeholder="Tag" [(ngModel)]="form.tag" name="tag" required />
                <div class="error" *ngIf="formErrors.tag">Tag is required</div>

                <label>Topics</label>
                <input type="text" placeholder="Topics (comma separated)" [(ngModel)]="form.topics" name="topics" />
                <div class="error" *ngIf="formErrors.topics">Topics is required</div>

                <label>Blog Image</label>
                <input type="file" (change)="onImageChange($event)" #fileInput />
                <div *ngIf="form.image" class="image-preview">
                    <img [src]="form.image" alt="Blog Image" width="150" height="100" />
                </div>
                <div class="error" *ngIf="formErrors.image">Blog image is required</div>

                <label>Description</label>
                <textarea placeholder="Description" [(ngModel)]="form.description" rows="10" name="description"
                    required></textarea>
                <div class="error" *ngIf="formErrors.description">Description is required</div>
                <div class="model-btn">
                    <button type="submit" [disabled]="isUploading">
                        {{ isUploading ? 'Wait Image Uploading...' : (selectedBlog ? 'Update' : 'Create') }}
                    </button>
                    <button type="button" (click)="closeModal()">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>